<table id="restaurant-names" class="span6">
	<th>Name</th>
	<th>Latitude</th>
	<th>Longitude</th>
  <% restaurant_list.each do |restaurant| %>
	<tr class="restaurant-row">
		<td><%= restaurant.name %></td>
		<td><%= restaurant.latitude %></td>
		<td><%= restaurant.longitude %></td>
	</tr>
	<% end %>

</table>

